.container {
	display: flex;
	padding-left: 100px;
    padding-right: 100px;
}

.container__table {
	width: 75%;
}

.container__clickedCellData {
    position: relative;
    top: 35px;
	line-height: 35px;
	width: 25%;
	height: 800px;
    text-align: center;
	overflow-y: hidden;
}

.container__clickedCellData > p {
    padding: 0;
    margin: 0;
    height: 35px;
}

.container__clickedCellData--color {
	background-color: gray;
}

.container__pagination {
	
}

.container__table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container__table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.container__table th {
  cursor:pointer;
  background-color: black;
  color: white;
}

.container__tableBody {
	position: relative;
	overflow-x: hidden;
	height: 800px;
}

.container__table table tbody { 
	display: block; 
	box-sizing: border-box;
}

.container__table table thead, .container__table table tbody tr { 
	display: table; 
	table-layout: fixed; 
	width: 100%; 
}